div {
  width: 200px;
  height: 200px;
  border: 5px solid tomato;
  /* overflow: auto; */
  /* overflow-x: auto; */
}

/* img{
    opacity: 0.5;
} */

.btn {
  border: none;
  padding: 15px 25px;
  background-color: black;
  color: hotpink;
  font-size: 20px;
  border-radius: 10px;
}

/* Pseudo class */
.btn:hover {
  background-color: gray;
  color: green;
}

/* p {
  opacity: 0;
} */

.box:hover p {
  /* opacity: 0; */
  display: none;
}
